<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Create Task</h1>
  <form action="/create" method="post">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="desc" placeholder="write...">
    <button>create</button>
  </form>
  <hr />
  <%= JSON.stringify(tasks, null, 4)%>


</body>

</html>